### Week 3 Assignment

In [54]:
import pandas as pd
from IPython.display import display

# Load the Excel file
file_path = "CPIData.xlsx"  # Use raw string or replace \ with /

# Read the Excel file and specify the sheet name
Inflation_data = pd.read_excel(('data\CPIData.xlsx') , sheet_name="Sheet1")


# Drop columns that are unnamed or have no header
Inflation_data .dropna(axis=0, how='any', inplace=True)

# Optionally, reset the column names if necessary
Inflation_data .columns = Inflation_data .columns.str.strip()  # Remove leading/trailing spaces from column names

# Rename the last column "Unnamed" to "Percent Change"
Inflation_data .rename(columns={Inflation_data .columns[-1]: "Percent Change"}, inplace=True)

# Save cleaned data to CSV
Inflation_data .to_csv('data\Annual data.csv', index=True)

# Display the cleaned data
display(Inflation_data.head() )

<>:8: SyntaxWarning: invalid escape sequence '\C'
<>:21: SyntaxWarning: invalid escape sequence '\A'
<>:8: SyntaxWarning: invalid escape sequence '\C'
<>:21: SyntaxWarning: invalid escape sequence '\A'
C:\Users\sandh\AppData\Local\Temp\ipykernel_12856\4177945699.py:8: SyntaxWarning: invalid escape sequence '\C'
  Inflation_data = pd.read_excel(('data\CPIData.xlsx') , sheet_name="Sheet1")
C:\Users\sandh\AppData\Local\Temp\ipykernel_12856\4177945699.py:21: SyntaxWarning: invalid escape sequence '\A'
  Inflation_data .to_csv('data\Annual data.csv', index=True)

,Groups & Sub-Groups,Weight %,2015/16,2016/17,2017/18,2018/19,Percent Change,Percent Change
2,Overall Index,100.00,109.92,114.83,119.59,125.14,4.15,4.64
3,Food and Beverage,43.91,110.91,113.03,116.13,119.72,2.74,3.09
4,Cereal grains and their products,11.33,109.19,111.09,113.83,119.91,2.47,5.34
5,Pulses and Legumes,1.84,132.65,125.36,95.23,89.09,-24.03,-6.45
6,Vegetable,5.52,110.28,107.50,119.74,116.32,11.39,-2.86

In [56]:
#CPI Data Normalization
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from IPython.display import display

# Load the Excel file
file_path = "CPIData.xlsx"  # Use raw string or replace \ with /

# Read the Excel file and specify the sheet name
df = pd.read_excel(('data\CPIData.xlsx') , sheet_name="Sheet1")

# Drop rows with missing values
df.dropna(axis=0, how='any', inplace=True)

# Optionally, reset the column names if necessary
df.columns = df.columns.str.strip()  # Remove leading/trailing spaces from column names

# Rename the last column "Unnamed" to "Percent Change"
df.rename(columns={df.columns[-1]: "Percent Change"}, inplace=True)

# Select numerical columns (exclude the first two columns: 'Groups & Sub-Groups' and 'Weight %')
numerical_cols = df.columns[2:]

# Initialize MinMaxScaler
scaler = MinMaxScaler()

# Apply Min-Max Normalization to numerical columns
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

# Save cleaned and normalized data to CSV
df.to_csv('data\Annual_data_normalized.csv', index=True)

# Display the normalized data
display(df.head())

<>:10: SyntaxWarning: invalid escape sequence '\C'
<>:31: SyntaxWarning: invalid escape sequence '\A'
<>:10: SyntaxWarning: invalid escape sequence '\C'
<>:31: SyntaxWarning: invalid escape sequence '\A'
C:\Users\sandh\AppData\Local\Temp\ipykernel_12856\887037276.py:10: SyntaxWarning: invalid escape sequence '\C'
  df = pd.read_excel(('data\CPIData.xlsx') , sheet_name="Sheet1")
C:\Users\sandh\AppData\Local\Temp\ipykernel_12856\887037276.py:31: SyntaxWarning: invalid escape sequence '\A'
  df.to_csv('data\Annual_data_normalized.csv', index=True)

,Groups & Sub-Groups,Weight %,2015/16,2016/17,2017/18,2018/19,Percent Change,Percent Change
2,Overall Index,100.00,0.257917,0.551546,0.600740,0.586465,0.795596,0.639562
3,Food and Beverage,43.91,0.290238,0.480174,0.515413,0.498292,0.755788,0.550173
4,Cereal grains and their products,11.33,0.234084,0.403251,0.458693,0.501383,0.748165,0.679931
5,Pulses and Legumes,1.84,1.000000,0.969072,0.000000,0.000000,0.000000,0.000000
6,Vegetable,5.52,0.269670,0.260904,0.604439,0.442980,1.000000,0.207036

In [53]:
# yoy of Inflation
import pandas as pd
from IPython.display import display

# Sample Data (Replace this with actual dataset)
data = {
    "Groups & Sub-Groups": [
        "Overall Index", "Sugar and Sugar products", "Spices", "Non-alcoholic drinks",
        "Alcoholic drinks", "Tobacco products", "Restaurant and Hotel", "Non-food and Services"
    ],
    "Weight %": [100.00, 1.74, 1.21, 1.24, 0.68, 0.41, 2.92, 56.09],
    "2015/16": [109.92, 107.26, 113.47, 104.71, 112.88, 107.60, 109.32, 109.16],
    "2016/17": [114.83, 123.16, 119.93, 108.50, 126.14, 111.55, 117.08, 116.27],
    "2017/18": [119.59, 122.33, 114.02, 111.71, 135.78, 117.54, 122.77, 122.38],
    "2018/19": [125.14, 118.24, 120.37, 115.96, 150.56, 129.78, 128.73, 129.55]
}

# Convert data to DataFrame
df = pd.DataFrame(data)

# Melt the dataframe to long format
df_melted = df.melt(id_vars=["Groups & Sub-Groups", "Weight %"], 
                     var_name="Year", value_name="Index Value")

# Convert "Year" to datetime format
df_melted["Year"] = df_melted["Year"].astype(str).str[:3].astype(int)  # Extract year as int

# Sort values for correct calculations
df_melted.sort_values(by=["Groups & Sub-Groups", "Year"], inplace=True)

# Calculate Year-on-Year (YoY) Percentage Change
df_melted["YoY Change (%)"] = df_melted.groupby("Groups & Sub-Groups")["Index Value"].pct_change() * 100

# Compute 3-Year Moving Average
df_melted["3-Year MA"] = df_melted.groupby("Groups & Sub-Groups")["Index Value"].rolling(window=3, min_periods=1).mean().reset_index(level=0, drop=True)

# Display Processed Data
display(df_melted)

# Save to CSV
df_melted.to_csv("inflation_remittance_analysis.csv")
df_melted.dropna(axis=0,how='any',inplace=True)

,Groups & Sub-Groups,Weight %,Year,Index Value,YoY Change (%),3-Year MA
4,Alcoholic drinks,0.68,201,112.88,NaN,112.880000
12,Alcoholic drinks,0.68,201,126.14,11.746988,119.510000
20,Alcoholic drinks,0.68,201,135.78,7.642302,124.933333
28,Alcoholic drinks,0.68,201,150.56,10.885256,137.493333
3,Non-alcoholic drinks,1.24,201,104.71,NaN,104.710000
11,Non-alcoholic drinks,1.24,201,108.50,3.619521,106.605000
19,Non-alcoholic drinks,1.24,201,111.71,2.958525,108.306667
27,Non-alcoholic drinks,1.24,201,115.96,3.804494,112.056667
7,Non-food and Services,56.09,201,109.16,NaN,109.160000
15,Non-food and Services,56.09,201,116.27,6.513375,112.715000
23,Non-food and Services,56.09,201,122.38,5.255010,115.936667
31,Non-food and Services,56.09,201,129.55,5.858800,122.733333
0,Overall Index,100.00,201,109.92,NaN,109.920000
8,Overall Index,100.00,201,114.83,4.466885,112.375000
16,Overall Index,100.00,201,119.59,4.145258,114.780000
24,Overall Index,100.00,201,125.14,4.640856,119.853333
6,Restaurant and Hotel,2.92,201,109.32,NaN,109.320000
14,Restaurant and Hotel,2.92,201,117.08,7.098427,113.200000
22,Restaurant and Hotel,2.92,201,122.77,4.859925,116.390000
30,Restaurant and Hotel,2.92,201,128.73,4.854606,122.860000
2,Spices,1.21,201,113.47,NaN,113.470000
10,Spices,1.21,201,119.93,5.693135,116.700000
18,Spices,1.21,201,114.02,-4.927875,115.806667
26,Spices,1.21,201,120.37,5.569198,118.106667
1,Sugar and Sugar products,1.74,201,107.26,NaN,107.260000
9,Sugar and Sugar products,1.74,201,123.16,14.823793,115.210000
17,Sugar and Sugar products,1.74,201,122.33,-0.673920,117.583333
25,Sugar and Sugar products,1.74,201,118.24,-3.343415,121.243333
5,Tobacco products,0.41,201,107.60,NaN,107.600000
13,Tobacco products,0.41,201,111.55,3.671004,109.575000
21,Tobacco products,0.41,201,117.54,5.369789,112.230000
29,Tobacco products,0.41,201,129.78,10.413476,119.623333

In [ ]:
## Interest Rate of Bank
import pandas as pd
from IPython.display import display
Interest_data=pd.read_excel('data/DifferentBankInterest.xlsx',sheet_name='Sheet1')
Interest_data.dropna(axis=0,how='any',inplace=True)
display(Interest_data)

,Bank/FI,Name,Interest Rate,Minimum Balance,Tenure
0,Salapa Bikas,Fixed Deposit-1Y&above,0.0850,0.0,1 year
2,Pokhara Finan.,Fixed Deposit-3Y&above,0.0800,0.0,3 years
4,Nepal Finance,Fixed Deposit-Above2Y,0.0800,0.0,2.08 years
6,Salapa Bikas,Fixed Deposit-3Mto6M,0.0800,0.0,3 months
8,Samriddhi Fin,Fixed Deposit-5Y&above,0.0785,0.0,5.08 years
...,...,...,...,...,...
452,Krishi Bikas,Fixed Deposit- 6M,0.0325,0.0,6 months
454,Jyoti Bikas,Fixed Deposit-3M,0.0300,0.0,3 months
456,Krishi Bikas,Fixed Deposit-3M,0.0300,0.0,3 months
458,NMB Bank,Saral Muddati-3M,0.0300,0.0,3 months
460,NMB Bank,Fixed Deposit-Upto6M,0.0300,0.0,3 months

In [ ]:
#Normalization of Interest Rate
import pandas as pd

import re

# Load the Excel file
file_path = "DifferentBankInterest.xlsx"  # Change to your file path
Interest_data = pd.read_excel(('data/DifferentBankInterest.xlsx') , sheet_name="Sheet1")

# Convert tenure to months
def convert_tenure_to_months(tenure):
    match = re.match(r"([\d\.]+)\s*(year|years|months)", str(tenure), re.IGNORECASE)
    if match:
        value, unit = match.groups()
        value = float(value)
        if "year" in unit.lower():
            return round(value * 12, 2)  # Convert years to months
        return round(value, 2)  # Already in months
    return None  # If tenure format is invalid

Interest_data ["Tenure (Months)"] = Interest_data ["Tenure"].apply(convert_tenure_to_months)

# Convert Interest Rate to percentage
Interest_data ["Interest Rate (%)"] = Interest_data ["Interest Rate"] * 100

# Format to 2 decimal places
Interest_data ["Interest Rate (%)"] = Interest_data ["Interest Rate (%)"].round(2)

# Drop original columns if not needed
Interest_data .drop(columns=["Interest Rate", "Tenure"], inplace=True)
Interest_data .dropna(axis=0, how='any',inplace=True)

# Save the cleaned data
Interest_data .to_csv("normalized_interest_rates.csv", index=False)

# Display the cleaned data
display(Interest_data)

,Bank/FI,Name,Minimum Balance,Tenure (Months),Interest Rate (%)
0,Salapa Bikas,Fixed Deposit-1Y&above,0.0,12.00,8.50
2,Pokhara Finan.,Fixed Deposit-3Y&above,0.0,36.00,8.00
4,Nepal Finance,Fixed Deposit-Above2Y,0.0,24.96,8.00
6,Salapa Bikas,Fixed Deposit-3Mto6M,0.0,3.00,8.00
8,Samriddhi Fin,Fixed Deposit-5Y&above,0.0,60.96,7.85
...,...,...,...,...,...
452,Krishi Bikas,Fixed Deposit- 6M,0.0,6.00,3.25
454,Jyoti Bikas,Fixed Deposit-3M,0.0,3.00,3.00
456,Krishi Bikas,Fixed Deposit-3M,0.0,3.00,3.00
458,NMB Bank,Saral Muddati-3M,0.0,3.00,3.00
460,NMB Bank,Fixed Deposit-Upto6M,0.0,3.00,3.00

In [48]:
#yoy of Interest
import pandas as pd
import re

# Load the Excel file
file_path = "DifferentBankInterest.xlsx"  # Change to your file path
df = pd.read_excel(('data/DifferentBankInterest.xlsx') , sheet_name="Sheet1")

# Convert tenure to months
def convert_tenure_to_months(tenure):
    match = re.match(r"([\d\.]+)\s*(year|years|months)", str(tenure), re.IGNORECASE)
    if match:
        value, unit = match.groups()
        value = float(value)
        if "year" in unit.lower():
            return round(value * 12, 2)  # Convert years to months
        return round(value, 2)  # Already in months
    return None  # If tenure format is invalid

df["Tenure (Months)"] = df["Tenure"].apply(convert_tenure_to_months)

# Convert Interest Rate to percentage
df["Interest Rate (%)"] = df["Interest Rate"] * 100

# Format to 2 decimal places
df["Interest Rate (%)"] = df["Interest Rate (%)"].round(2)

# Drop original columns if not needed
df.drop(columns=["Interest Rate", "Tenure"], inplace=True)

# Drop rows with missing values
df.dropna(axis=0, how='any', inplace=True)

# Derive Year-on-Year (YoY) percentage change for Interest Rate
df["YoY Interest Rate Change (%)"] = df["Interest Rate (%)"].pct_change() * 100

# Calculate 3-year moving average for Interest Rate
df["3-Year MA Interest Rate"] = df["Interest Rate (%)"].rolling(window=3).mean()

# Save the cleaned and updated data to CSV
df.to_csv("normalized_interest_rates_with_changes.csv", index=False)

# Display the cleaned data
import IPython.display as display
display.display(df.head(50))

# Print columns to see the new ones added
print(df.columns)

,Bank/FI,Name,Minimum Balance,Tenure (Months),Interest Rate (%),YoY Interest Rate Change (%),3-Year MA Interest Rate
0,Salapa Bikas,Fixed Deposit-1Y&above,0.0,12.00,8.50,NaN,NaN
2,Pokhara Finan.,Fixed Deposit-3Y&above,0.0,36.00,8.00,-5.882353,NaN
4,Nepal Finance,Fixed Deposit-Above2Y,0.0,24.96,8.00,0.000000,8.166667
6,Salapa Bikas,Fixed Deposit-3Mto6M,0.0,3.00,8.00,0.000000,8.000000
8,Samriddhi Fin,Fixed Deposit-5Y&above,0.0,60.96,7.85,-1.875000,7.950000
10,Janaki Finan.,Fixed Deposit-2Y&above,0.0,24.00,7.80,-0.636943,7.883333
12,Guheshwori,Fixed Deposit-5Y&above,0.0,60.00,7.75,-0.641026,7.800000
14,Reliance Fin.,Fixed Deposit-Above3Y,0.0,36.96,7.75,0.000000,7.766667
16,Samriddhi Fin,Fixed Deposit-3Yto5Y,0.0,36.00,7.75,0.000000,7.750000
18,Samriddhi Fin,Fixed Deposit-2Yto3Y,0.0,24.00,7.70,-0.645161,7.733333
20,Corporate Dev,Fixed Deposit-10M,0.0,10.00,7.50,-2.597403,7.650000
22,Nepal Finance,Fixed Deposit-1Yto2Y,0.0,12.00,7.50,0.000000,7.566667
24,Samriddhi Fin,Fixed Deposit-1Yto2Y,0.0,12.00,7.50,0.000000,7.500000
26,Multipurpose,Fixed Deposit-2Y&above,0.0,24.00,7.50,0.000000,7.500000
28,Narayani Dev.,Fixed Deposit-1Y&above,0.0,12.00,7.25,-3.333333,7.416667
30,Sindhu Bikas,Fixed Deposit-1Y&above,0.0,12.00,7.11,-1.931034,7.286667
32,Corporate Dev,Fixed Deposit-6Mto2Y,0.0,6.00,7.10,-0.140647,7.153333
34,Corporate Dev,Fixed Deposit-Upto2Y,0.0,3.00,7.00,-1.408451,7.070000
36,Green Develop.,Fixed Deposit-2Y&above,0.0,24.00,7.00,0.000000,7.033333
38,Janaki Finan.,Fixed Deposit-1Y,0.0,12.00,7.00,0.000000,7.000000
40,Pokhara Finan.,Fixed Deposit-2Yto<3Y,0.0,24.00,7.00,0.000000,7.000000
42,Manjushree,Fixed Deposit-5Y&above,0.0,60.00,7.00,0.000000,7.000000
44,ICFC Finance,Fixed Deposit-5Y&above,0.0,60.96,7.00,0.000000,7.000000
46,Central Fin,Fixed Deposit-3Y,0.0,36.00,7.00,0.000000,7.000000
48,Narayani Dev.,Fixed Deposit-6Mto1Y,0.0,6.00,7.00,0.000000,7.000000
50,Nepal Finance,Fixed Deposit-9M,0.0,9.00,6.75,-3.571429,6.916667
52,Central Fin,Fixed Deposit-2Y,0.0,24.00,6.75,0.000000,6.833333
54,Gurkhas Finan,Fixed Deposit-2Y&above,0.0,24.00,6.75,0.000000,6.750000
56,Progressive,Fixed Deposit-3Y&above,0.0,36.00,6.75,0.000000,6.750000
58,Reliance Fin.,Fixed Deposit->2Yto3Y,0.0,24.96,6.75,0.000000,6.750000
60,Multipurpose,Fixed Deposit-1Y,0.0,12.00,6.75,0.000000,6.750000
62,Goodwill Finan.,Fixed Deposit-3Y&above,0.0,36.00,6.75,0.000000,6.750000
64,Pokhara Finan.,Fixed Deposit-1Yto<2Y,0.0,12.00,6.70,-0.740741,6.733333
66,Best Finance,Fixed Deposit-5Y&above,0.0,60.96,6.65,-0.746269,6.700000
68,Green Develop.,Fixed Deposit-1Yto<2Y,0.0,12.00,6.60,-0.751880,6.650000
70,Gurkhas Finan,Fixed Deposit-1Yto<2Y,0.0,12.00,6.60,0.000000,6.616667
72,NMB Bank,Fixed Deposit-Above5Y,0.0,60.96,6.60,0.000000,6.600000
74,Pokhara Finan.,Fixed Deposit-270 days,0.0,9.00,6.60,0.000000,6.600000
76,Manjushree,Fixed Deposit-3Yto<5Y,0.0,36.00,6.60,0.000000,6.600000
78,NIC Asia,Fixed Deposit-5Y&above,0.0,60.00,6.60,0.000000,6.600000
80,Miteri Bikas,Fixed Deposit->2Y,0.0,24.96,6.50,-1.515152,6.566667
82,Corporate Dev,Fixed Deposit,0.0,3.00,6.50,0.000000,6.533333
84,Corporate Dev,SuperFD-5Y&above,1.0,60.96,6.50,0.000000,6.500000
86,Garima Bikas,Fixed Deposit-2Y&above,0.0,24.00,6.50,0.000000,6.500000
88,Mahalaxmi,Fixed Deposit-3Y&above,0.0,36.00,6.50,0.000000,6.500000
90,Lumbini Bikas,Fixed Deposit->2Y,0.0,24.96,6.50,0.000000,6.500000
92,Shree Invest,Fixed Deposit-2Y&above,0.0,24.00,6.50,0.000000,6.500000
94,Best Finance,Fixed Deposit->3Yto5Y,0.0,36.96,6.50,0.000000,6.500000
96,Progressive,Fixed Deposit-2Yto3Y,0.0,24.00,6.50,0.000000,6.500000
98,Pokhara Finan.,Fixed Deposit-180 Days,0.0,6.00,6.50,0.000000,6.500000

Index(['Bank/FI', 'Name', 'Minimum Balance', 'Tenure (Months)',
       'Interest Rate (%)', 'YoY Interest Rate Change (%)',
       '3-Year MA Interest Rate'],
      dtype='object')

In [ ]:
## Capital Fund data/ economic data
import pandas as pd
from IPython.display import display
file_path = "CapitalFund.xlsx"  # Change this to your Excel file path
economic_data= pd.read_excel(('data\CapitalFund.xlsx') , sheet_name="Sheet1")  # Specify sheet name if needed
economic_data.to_csv('data\CapitalFund.csv')
economic_data.dropna(axis=0, how='any',inplace=True)
numeric_cols = economic_data.select_dtypes(include=['float64', 'int64']).columns

display (economic_data)
display(numeric_cols)

<>:4: SyntaxWarning: invalid escape sequence '\C'
<>:5: SyntaxWarning: invalid escape sequence '\C'
<>:4: SyntaxWarning: invalid escape sequence '\C'
<>:5: SyntaxWarning: invalid escape sequence '\C'
C:\Users\sandh\AppData\Local\Temp\ipykernel_12856\236267392.py:4: SyntaxWarning: invalid escape sequence '\C'
  economic_data= pd.read_excel(('data\CapitalFund.xlsx') , sheet_name="Sheet1")  # Specify sheet name if needed
C:\Users\sandh\AppData\Local\Temp\ipykernel_12856\236267392.py:5: SyntaxWarning: invalid escape sequence '\C'
  economic_data.to_csv('data\CapitalFund.csv')

Normalized trade volume: 200 shares
Normalized amount: 55.00000000000001 USD

,1 CAPITAL FUND,17376.7,14237.7,17735.1,19707,19128.1,18539.1,108675,15633.1,21442.9,24104.8,19674.5
0,a. Paid-up Capital,13115.5,13000.0,16272.0,14850.0,16135.2,15610.5,94375.0,15000.0,20000.0,22457.5,18824.6
1,b. Calls in Advance,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,c. General Reserves,2832.6,2529.0,1273.1,2354.4,1550.0,1665.5,13294.4,321.1,688.4,991.4,547.7
3,d. Share Premium,418.7,52.8,0.0,44.4,130.7,0.0,0.0,150.5,429.7,0.0,190.3
4,e. Retained Earning,20.9,-1790.5,98.2,222.0,170.4,446.9,-43916.7,19.3,271.1,655.9,64.4
5,f. Others Reserves Fund,854.7,429.7,0.0,2172.4,1045.3,749.5,44830.1,3.0,45.5,0.0,0.7
6,g. Exchange Fluctuation Fund,134.2,16.7,91.9,63.8,96.5,66.7,92.2,139.3,8.1,0.0,46.8
7,2 BORROWINGS,12502.0,215.0,9900.0,13390.1,3500.0,10018.5,25457.0,10375.8,21450.0,17128.4,716.5
8,a. NRB,9069.0,0.0,9400.0,0.0,0.0,7000.0,1233.4,10000.0,8500.0,9600.0,0.0
9,"b. ""A""Class Licensed Institution",1433.0,215.0,500.0,9390.1,0.0,0.0,0.0,375.8,12950.0,7528.4,716.5
10,c. Foreign Banks and Fin. Ins.,0.0,0.0,0.0,0.0,0.0,290.8,0.0,0.0,0.0,0.0,0.0
11,d. Other Financial Ins.,0.0,0.0,0.0,0.0,0.0,450.0,1223.6,0.0,0.0,0.0,0.0
12,e. Bonds and Securities,2000.0,0.0,0.0,4000.0,3500.0,2277.7,23000.0,0.0,0.0,0.0,0.0
13,3 DEPOSITS,173764.6,66246.1,170852.9,162136.3,176621.7,203472.8,326456.0,144040.1,133049.2,171220.6,131489.5
14,a. Current,11273.1,2316.4,4826.7,6812.8,5906.9,4533.1,21466.6,6922.4,4774.6,4502.2,1990.7
15,Domestic,11062.3,2163.2,4559.5,6451.0,5325.8,3872.2,21466.6,5717.5,3132.9,4436.6,1975.8
16,Foreign,210.8,153.2,267.2,361.8,581.1,660.9,0.0,1205.0,1641.7,65.5,14.8
17,b. Savings,38501.6,19903.7,69599.0,66101.5,41683.3,30269.5,163201.8,38208.0,32694.6,20925.4,24888.3
18,Domestic,37957.7,19736.2,69230.0,64944.4,40091.9,29972.7,163201.8,37519.0,32480.2,20843.0,24854.1
19,Foreign,543.9,167.6,369.0,1157.1,1591.3,296.8,0.0,689.1,214.4,82.4,34.2
20,c. Fixed,95598.6,35708.5,64073.3,65912.0,97614.9,112166.0,140611.5,66316.2,60589.0,75397.2,80492.9
21,Domestic,88155.8,35572.4,60817.7,58303.0,85525.4,104649.4,140611.5,64392.8,53389.6,70456.8,66061.1
22,Foreign,7442.8,136.1,3255.7,7609.0,12089.5,7516.6,0.0,1923.4,7199.4,4940.4,14431.8
23,d. Call Deposits,27044.4,7805.9,31210.9,21406.1,28747.7,54686.8,1176.0,29835.1,34378.8,69501.9,23540.9
24,e. Others,1346.9,511.5,1143.0,1903.9,2668.9,1817.4,0.0,2758.3,612.1,894.0,576.8
25,4 Bills Payable,30.1,30.0,146.8,126.7,55.3,119.9,0.0,81.2,42.0,30.6,200.8
26,5 Other Liabilities,12134.2,6194.3,15688.6,14926.4,13007.4,13132.4,153910.0,10016.7,9734.0,10307.3,14539.3
27,1. Sundry Creditors,3509.1,751.1,207.1,6934.2,393.3,1943.2,17305.1,1627.9,3.5,419.0,0.0
28,2. Loan Loss Provision,2247.3,1759.5,7837.1,2252.6,1922.6,2598.8,58467.8,4583.6,1937.3,1919.4,2141.5
29,3. Interest Suspense a/c,191.6,603.4,1487.2,3369.7,378.5,916.2,15555.6,410.5,2827.3,3919.6,2382.3
30,4. Others,6186.1,3080.3,6157.2,2369.9,10312.9,7674.1,62581.5,3394.7,4965.9,4049.3,10015.5
31,6 Reconcillation A/c,1474006.1,2.8,0.0,0.0,0.0,0.0,0.0,0.0,-200.3,0.0,0.0
32,7 Profit & Loss A/c,4825.6,2166.4,738.1,1564.2,3439.5,2761.5,17564.9,2233.7,1223.1,1089.0,810.8
33,TOTAL LIABILITIES,1694639.3,89092.2,215061.6,211850.7,215752.0,248044.2,632062.9,182380.6,186740.9,223880.8,167431.4

Index([17376.7, 14237.7, 17735.1,   19707, 19128.1, 18539.1,  108675, 15633.1,
       21442.9, 24104.8, 19674.5],
      dtype='object')

In [38]:
## Remitance data
import pandas as pd
from IPython.display import display
# Load the Excel file
file_path = "Remittance.xlsx"  # Change this to your Excel file path
remitance_data = pd.read_excel(('data/Remittance.xlsx') , sheet_name="Sheet1")  # Specify sheet name if needed

# Save as CSVerts to CSV without the index column
remitance_data.dropna(axis=1,how='any',inplace=True)
display (remitance_data)

    Year  FDI net inflow (Million US$)  Remittance received (Million US$)
0   2011                         94.02                            4216.89
1   2012                         91.95                            4792.51
2   2013                         74.18                            5583.70
3   2014                         30.40                            5888.65
4   2015                         51.90                            6729.94
5   2016                        106.00                            6611.84
6   2017                        196.27                            6928.13
7   2018                         68.26                            8286.63
8   2019                        185.56                            8244.47
9   2020                        126.63                            8107.74
10  2021                        196.33                            8203.26

In [ ]:
# Normalization of Remitace
import pandas as pd
from IPython.display import display

# Load the Excel file
file_path = "data/Remittance.xlsx"  # Corrected file path
remitance_data = pd.read_excel(file_path, sheet_name="Sheet1")  # Specify sheet name if needed

# Drop columns with all missing values (if any)
remitance_data.dropna(axis=1, how="all", inplace=True)

# Function to normalize numeric values based on their units
def normalize_values(value):
    return value * 1_000_000  # Convert Million US$ to US$

# Normalize 'FDI net inflow (Million US$)' and 'Remittance received (Million US$)'
if 'FDI net inflow (Million US$)' in remitance_data.columns:
    remitance_data['Normalized FDI'] = remitance_data['FDI net inflow (Million US$)'].apply(normalize_values)

if 'Remittance received (Million US$)' in remitance_data.columns:
    remitance_data['Normalized Remittance'] = remitance_data['Remittance received (Million US$)'].apply(normalize_values)

# Save as CSV without the index column
remitance_data.to_csv("normalized_remittance_data.csv", index=False)

# Display the cleaned and normalized data
display(remitance_data)

,Year,FDI net inflow (Million US$),Remittance received (Million US$),Normalized FDI,Normalized Remittance
0,2011,94.02,4216.89,94020000.0,4.216890e+09
1,2012,91.95,4792.51,91950000.0,4.792510e+09
2,2013,74.18,5583.70,74180000.0,5.583700e+09
3,2014,30.40,5888.65,30400000.0,5.888650e+09
4,2015,51.90,6729.94,51900000.0,6.729940e+09
5,2016,106.00,6611.84,106000000.0,6.611840e+09
6,2017,196.27,6928.13,196270000.0,6.928130e+09
7,2018,68.26,8286.63,68260000.0,8.286630e+09
8,2019,185.56,8244.47,185560000.0,8.244470e+09
9,2020,126.63,8107.74,126630000.0,8.107740e+09
10,2021,196.33,8203.26,196330000.0,8.203260e+09

In [47]:
#yoy of remitance
import pandas as pd
from IPython.display import display

# Load the Excel file
file_path = "data/Remittance.xlsx"  # Corrected file path
remitance_data = pd.read_excel(file_path, sheet_name="Sheet1")  # Specify sheet name if needed

# Drop columns with all missing values (if any)
remitance_data.dropna(axis=1, how="all", inplace=True)

# Function to normalize numeric values based on their units
def normalize_values(value):
    return value * 1_000_000  # Convert Million US$ to US$

# Normalize 'FDI net inflow (Million US$)' and 'Remittance received (Million US$)'
if 'FDI net inflow (Million US$)' in remitance_data.columns:
    remitance_data['Normalized FDI'] = remitance_data['FDI net inflow (Million US$)'].apply(normalize_values)

if 'Remittance received (Million US$)' in remitance_data.columns:
    remitance_data['Normalized Remittance'] = remitance_data['Remittance received (Million US$)'].apply(normalize_values)

# Calculate Year-on-Year (YoY) Percentage Change for 'Normalized FDI' and 'Normalized Remittance'
remitance_data['YoY FDI Change (%)'] = remitance_data['Normalized FDI'].pct_change() * 100
remitance_data['YoY Remittance Change (%)'] = remitance_data['Normalized Remittance'].pct_change() * 100

# Calculate 3-Year Moving Average for 'Normalized FDI' and 'Normalized Remittance'
remitance_data['3-Year MA FDI'] = remitance_data['Normalized FDI'].rolling(window=3).mean()
remitance_data['3-Year MA Remittance'] = remitance_data['Normalized Remittance'].rolling(window=3).mean()

# Save as CSV without the index column
remitance_data.to_csv("normalized_remittance_data_with_changes.csv", index=False)

# Display the cleaned data with YoY and moving averages
display(remitance_data)

,Year,FDI net inflow (Million US$),Remittance received (Million US$),Normalized FDI,Normalized Remittance,YoY FDI Change (%),YoY Remittance Change (%),3-Year MA FDI,3-Year MA Remittance
0,2011,94.02,4216.89,94020000.0,4.216890e+09,NaN,NaN,NaN,NaN
1,2012,91.95,4792.51,91950000.0,4.792510e+09,-2.201659,13.650344,NaN,NaN
2,2013,74.18,5583.70,74180000.0,5.583700e+09,-19.325721,16.508886,8.671667e+07,4.864367e+09
3,2014,30.40,5888.65,30400000.0,5.888650e+09,-59.018603,5.461432,6.551000e+07,5.421620e+09
4,2015,51.90,6729.94,51900000.0,6.729940e+09,70.723684,14.286636,5.216000e+07,6.067430e+09
5,2016,106.00,6611.84,106000000.0,6.611840e+09,104.238921,-1.754845,6.276667e+07,6.410143e+09
6,2017,196.27,6928.13,196270000.0,6.928130e+09,85.160377,4.783691,1.180567e+08,6.756637e+09
7,2018,68.26,8286.63,68260000.0,8.286630e+09,-65.221379,19.608466,1.235100e+08,7.275533e+09
8,2019,185.56,8244.47,185560000.0,8.244470e+09,171.842953,-0.508771,1.500300e+08,7.819743e+09
9,2020,126.63,8107.74,126630000.0,8.107740e+09,-31.757922,-1.658445,1.268167e+08,8.212947e+09
10,2021,196.33,8203.26,196330000.0,8.203260e+09,55.042249,1.178133,1.695067e+08,8.185157e+09

In [36]:
## trade balance
## Trade
import pandas as pd
from IPython.display import display
# Load the Excel file
file_path = "Trade.xlsx"  # Change this to your Excel file path
remitance_data = pd.read_excel(('data/Trade.xlsx') , sheet_name="Sheet1")  # Specify sheet name if needed

# Save as CSVerts to CSV without the index column
remitance_data.to_csv("output.csv", index=False)  
remitance_data.dropna(axis=1,how='any',inplace=True)
display (remitance_data)

,Trade,Last,Previous,Highest,Lowest,Amount,Date
0,Balance of Trade,-137802.00,-135752.00,-3913.00,-167318.00,NPR Million,2024-Jan
1,Current Account,221339.00,179481.00,221339.00,-623325.00,NPR Million,2024-March
2,Current Account to GDP,-1.50,-12.70,5.40,-12.70,percent of GDP,2023-December
3,Exports,28416.00,25129.00,44610.00,-322.00,NPR Million,2025-Jan
4,Imports,166218.00,160882.00,299677.00,8000.00,NPR Million,2025-Jan
5,Gold Reserves,7.99,7.99,7.99,0.00,Tonnes,2024-June
6,Tourist Arrivals,1014876.00,614148.00,1197191.00,9388.00,Persons,2023-December
7,Foreign Direct Investment,5961.00,18560.00,19513.00,-470.00,NPR Million,2023-December
8,Terms of Trade,106.00,108.00,164.00,90.50,points,2025-February
9,Terrorism Index,1.11,2.16,6.86,1.11,Points,2024-December

In [36]:
## Trade Normalization
#Trade Normalized
import pandas as pd
from IPython.display import display

# Load the Excel file
file_path = "Trade.xlsx"  # Correct file path
trade_data = pd.read_excel(('data/Trade.xlsx') , sheet_name="Sheet1")    # Load the sheet

# Drop columns with all missing values (if any)
trade_data.dropna(axis=1, how="all", inplace=True)

# Function to normalize numeric values based on their units
def normalize_values(row, column_name):
    value = row[column_name]
    unit = row["Amount"]  # Column that defines measurement units

    if unit == "NPR Million":
        return value * 1_000_000  # Convert to actual value in NPR
    elif unit == "Tonnes":
        return value * 1_000  # Convert to Kilograms (assuming you want to convert Tonnes to Kg)
    elif unit == "percent of GDP":
        return value / 100  # Convert percentage to decimal
    elif unit == "Persons":
        return value  # No conversion needed, keep as is (number of people)
    elif unit == "Points":
        return value  # No conversion needed for points (just example, can apply logic based on data)
    else:
        return value  # Return value as is if unit is not matched

# Normalize the numeric columns based on units
columns_to_normalize = ["Last", "Previous", "Highest", "Lowest"]
for column in columns_to_normalize:
    trade_data[f"Normalized {column}"] = trade_data.apply(normalize_values, axis=1, column_name=column)

# Save cleaned and normalized data to CSV without the index column
trade_data.to_csv("normalized_trade_data.csv", index=False)

# Display the cleaned and normalized data
display(trade_data)

,Trade,Last,Previous,Highest,Lowest,Amount,Date,Normalized Last,Normalized Previous,Normalized Highest,Normalized Lowest
0,Balance of Trade,-137802.00,-135752.00,-3913.00,-167318.00,NPR Million,2024-Jan,-1.378020e+11,-1.357520e+11,-3.913000e+09,-1.673180e+11
1,Current Account,221339.00,179481.00,221339.00,-623325.00,NPR Million,2024-March,2.213390e+11,1.794810e+11,2.213390e+11,-6.233250e+11
2,Current Account to GDP,-1.50,-12.70,5.40,-12.70,percent of GDP,2023-December,-1.500000e-02,-1.270000e-01,5.400000e-02,-1.270000e-01
3,Exports,28416.00,25129.00,44610.00,-322.00,NPR Million,2025-Jan,2.841600e+10,2.512900e+10,4.461000e+10,-3.220000e+08
4,Imports,166218.00,160882.00,299677.00,8000.00,NPR Million,2025-Jan,1.662180e+11,1.608820e+11,2.996770e+11,8.000000e+09
5,Gold Reserves,7.99,7.99,7.99,0.00,Tonnes,2024-June,7.990000e+03,7.990000e+03,7.990000e+03,0.000000e+00
6,Tourist Arrivals,1014876.00,614148.00,1197191.00,9388.00,Persons,2023-December,1.014876e+06,6.141480e+05,1.197191e+06,9.388000e+03
7,Foreign Direct Investment,5961.00,18560.00,19513.00,-470.00,NPR Million,2023-December,5.961000e+09,1.856000e+10,1.951300e+10,-4.700000e+08
8,Terms of Trade,106.00,108.00,164.00,90.50,points,2025-February,1.060000e+02,1.080000e+02,1.640000e+02,9.050000e+01
9,Terrorism Index,1.11,2.16,6.86,1.11,Points,2024-December,1.110000e+00,2.160000e+00,6.860000e+00,1.110000e+00

In [45]:
import pandas as pd

# Sample Data
data = {
    "Trade": [
        "Balance of Trade", "Current Account", "Current Account to GDP",
        "Exports", "Imports", "Gold Reserves", "Tourist Arrivals",
        "Foreign Direct Investment", "Terms of Trade", "Terrorism Index"
    ],
    "Last": [
        -137802, 221339, -1.50, 28416, 166218, 7.99, 1014876, 5961, 106, 1.11
    ],
    "Previous": [
        -135752, 179481, -12.70, 25129, 160882, 7.99, 614148, 18560, 108, 2.16
    ],
    "Amount": [
        "NPR Million", "NPR Million", "percent of GDP", "NPR Million",
        "NPR Million", "Tonnes", "Persons", "NPR Million", "points", "Points"
    ],
    "Date": [
        "2024-Jan", "2024-March", "2023-December", "2025-Jan", "2025-Jan",
        "2024-June", "2023-December", "2023-December", "2025-February", "2024-December"
    ]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Convert Date to datetime format
df["Date"] = pd.to_datetime(df["Date"], errors='coerce', format='%Y-%B')

# Calculate Year-on-Year Percentage Change
df["YoY Change (%)"] = ((df["Last"] - df["Previous"]) / df["Previous"]) * 100

# Compute 3-month Moving Average (For metrics like Trade Balance, Exports, Imports)
df["3-Month MA"] = df["Last"].rolling(window=3, min_periods=1).mean()

# Display Processed Data
display(df[["Trade", "Date", "Last", "Previous", "YoY Change (%)", "3-Month MA"]])

,Trade,Date,Last,Previous,YoY Change (%),3-Month MA
0,Balance of Trade,NaT,-137802.00,-135752.00,1.510107,-137802.000000
1,Current Account,2024-03-01,221339.00,179481.00,23.321689,41768.500000
2,Current Account to GDP,2023-12-01,-1.50,-12.70,-88.188976,27845.166667
3,Exports,NaT,28416.00,25129.00,13.080505,83251.166667
4,Imports,NaT,166218.00,160882.00,3.316717,64877.500000
5,Gold Reserves,2024-06-01,7.99,7.99,0.000000,64880.663333
6,Tourist Arrivals,2023-12-01,1014876.00,614148.00,65.249419,393700.663333
7,Foreign Direct Investment,2023-12-01,5961.00,18560.00,-67.882543,340281.663333
8,Terms of Trade,2025-02-01,106.00,108.00,-1.851852,340314.333333
9,Terrorism Index,2024-12-01,1.11,2.16,-48.611111,2022.703333